// Цвет/Фон
$color-1: #222222;
$color-2: #fff;
$color-3: transparent;
$color-4: #F1E4E6;
$color-5: #F16D7F;
$color-6: #FFFFFF;
$color-7: #FFFFFF;
$color-8: #9F9F9F;
$color-9: #E5E5E5;
$color-10: rgba(58, 56, 56, 0.83);
$color-11: #000000;
$color-12: #5D5D5D;
$color-13: #FF6A6A;
$color-14: #F26376;
$color-15: #222224;
$color-16: #FBFBFB;
$color-17: #eee;
$color-18: #E1E1E1;
$color-19: #E9E9E9;
$color-20: #c34455;
$color-21: #F8F3F4;
$color-22: #636363;
$color-23: #6F6E6E;
$color-24: #dbdbdb;
$color-25: #c9c9c9;
$color-26: .3s;
$color-27: #EF5B70;
$color-28: #ddd;
$color-29: #FFFFFF;
$color-30: #FFFFFF;
$color-31: #F16D7F;

// Отступы
$shift: 64px;

