// Переменные: цвет/фон, отступы
// Цвет/Фон
@import "_vars.scss";
// Отступы
$feature-products-list-margin-top: 30px;
$feature-products-list-margin-top-media-tabblet: 15px;
$feature-products-list-margin-top-media-mobile: 16px;
// Примеси
@import "_mixins.scss";

html, body {
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}
section {
    flex-grow: 1;
}
.feedback {
    flex-grow: 0;
}
.hidden {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
    // outline: 1px solid red;
}
// Планшетная версия
@media (max-width: 1200px) {
    .wrapper {
        width: 735px;
    }
}
// Версия для смартфона
@media (max-width: 760px) {
    .wrapper {
        width: 360px;
    }
}
// Главная страница
// header
@import "block/_header.scss";
// offer
@import "block/_offer.scss";
// categories
@import "block/_categories.scss";
// feature-products
@import "block/_feature-products.scss";
// advantages
@import "block/_advantages.scss";
// feedback
@import "block/_feedback.scss";
// footer
@import "block/_footer.scss";
// Страница каталога
// new-arrivals
@import "block/_new-arrivals.scss";
// Страница продукта
// slider
@import "block/_slider.scss";
// about
@import "block/_about.scss";
// feature-products-padding
@import "block/_feature-products-padding.scss";
// Страница корзины покупателя
// shopping-cart
@import "block/_shopping-cart.scss";
// Страница регистрации
// registration-block
@import "block/_registration-block.scss";
