html, body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 735px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    width: 360px;
  }
}

.header {
  position: relative;
  background: #222222;
  padding: 18px 0;
  color: #fff;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
  color: #fff;
  margin-right: 41px;
}

.search-button, .main-menu-button {
  background-color: transparent;
  border: none;
}

.search-button:hover img {
  content: url(../img/search-hover.svg);
}

.main-menu-button:hover img {
  content: url(../img/burger-hover.svg);
}

.registry-link, .cart-link {
  text-decoration: none;
  color: #fff;
}

.cart-link:hover img {
  content: url(../img/cart-hover.svg);
}

.registry-link {
  margin: 0 33px;
}

.registry-link:hover img {
  content: url(../img/account-hover.svg);
}

.main-menu-float {
  background-color: #FFFFFF;
  width: 235px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 34px;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 100%;
  min-height: 765px;
}

.main-menu-float-registry-link {
  display: none;
}

.main-menu-float-cart-link {
  display: none;
}

.main-menu-float-open {
  display: block;
}

.main-menu-float-close {
  display: none;
}

.main-menu-float-box {
  position: relative;
}

.main-menu-float-close-btn {
  position: absolute;
  padding: 10px;
  background-color: transparent;
  top: -33px;
  right: -31px;
  border: transparent;
}

.main-menu-float-close-btn:hover img {
  content: url(../img/close-menu-hover.svg);
}

.main-menu-float-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.main-menu-float-list {
  list-style: none;
}

.main-menu-float-item {
  margin-bottom: 20px;
}

.main-submenu-padding-bottom {
  padding-bottom: 11px;
}

.main-submenu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.main-submenu-link:hover {
  text-decoration: underline;
}

.main-menu-float-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding-bottom: 12px;
  display: inline-block;
}

.main-menu-float-link:hover {
  text-decoration: underline;
}

.main-submenu {
  list-style: none;
  padding-left: 21.5px;
}

@media (max-width: 760px) {
  .main-menu-float-registry-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 54px;
    margin-bottom: 37px;
  }
  .main-menu-float-registry-link:hover img {
    content: url(../img/account-hover.svg);
  }
  .main-menu-float-cart-link {
    display: inline-block;
    text-decoration: none;
  }
  .main-menu-float-cart-link:hover img {
    content: url(../img/cart-hover.svg);
  }
  .main-menu-float-close-btn {
    top: -102px;
  }
}

@media (max-width: 760px) {
  .header-col-2 .registry-link {
    display: none;
  }
  .header-col-2 .cart-link {
    display: none;
  }
}

.offer {
  background: #F1E4E6;
}

.offer-wrap {
  height: 765px;
  background-image: url(../img/promo-bg.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 90px;
}

.offer-title-small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.offer-title-pink {
  color: #F16D7F;
}

@media (max-width: 1200px) {
  .offer-wrap {
    height: 367.5px;
    background-image: url(../img/promo-bg-tabblet.png);
    background-position-x: -17px;
  }
  .offer-title {
    font-size: 44px;
    line-height: 30px;
    margin-right: 18px;
  }
  .offer-title-small {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 760px) {
  .offer-wrap {
    height: 363px;
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-title {
    margin-right: 0;
    font-size: 38px;
    line-height: 25px;
  }
  .offer-title-small {
    font-size: 20px;
    line-height: 24px;
  }
}

.categories {
  padding-top: 65px;
  padding-bottom: 96px;
  background: #FFFFFF;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  background-color: #FFFFFF;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.categories-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.categories-item--women {
  background-image: url(../img/cat-woman.png);
}

.categories-item--men {
  background-image: url(../img/cat-man.png);
}

.categories-item--kids {
  background-image: url(../img/cat-kids.png);
}

.categories-item--acc {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/cat-accesories.png);
}

.categories-a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.categories-sale {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

@media (max-width: 1200px) {
  .categories {
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .categories-item {
    width: 232px;
    height: 167px;
  }
  .categories-item--women {
    background-image: url(../img/cat-woman-tabblet.png);
  }
  .categories-item--men {
    background-image: url(../img/cat-man-tabblet.png);
  }
  .categories-item--kids {
    background-image: url(../img/cat-kids-tabblet.png);
  }
  .categories-item--acc {
    margin-top: 30px;
    width: 100%;
    height: 116px;
    background-image: url(../img/cat-accesories-tabblet.png);
  }
}

@media (max-width: 760px) {
  .categories {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .categories-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categories-item {
    width: 343px;
    height: 247px;
  }
  .categories-item--women {
    background-image: url(../img/cat-woman.png);
    margin-bottom: 32px;
  }
  .categories-item--men {
    background-image: url(../img/cat-man.png);
    margin-bottom: 32px;
  }
  .categories-item--kids {
    background-image: url(../img/cat-kids.png);
    margin-bottom: 32px;
  }
  .categories-item--acc {
    margin-top: 0px;
    width: 343px;
    height: 111px;
    background-image: url(../img/cat-accesories-mobile.png);
  }
}

.feature-products {
  background-color: #FFFFFF;
}

.feature-products-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.feature-products-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.feature-products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  z-index: 1;
}

.feature-products-list-4, .feature-products-list-5, .feature-products-list-6, .feature-products-list-7, .feature-products-list-8, .feature-products-list-9 {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .feature-products-paragraph {
    margin-bottom: 72.5px;
  }
  .feature-products-list-3, .feature-products-list-4, .feature-products-list-5, .feature-products-list-6, .feature-products-list-7, .feature-products-list-8, .feature-products-list-9 {
    margin-top: 15px;
  }
  .feature-products-list-none {
    display: none;
  }
  .feature-products-list-product-swap:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feature-products-list-product-swap:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feature-products-list-product-swap:nth-of-type(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
  }
}

@media (max-width: 760px) {
  .feature-products-paragraph {
    margin-bottom: 64.5px;
  }
  .feature-products-list-2, .feature-products-list-3, .feature-products-list-4, .feature-products-list-5, .feature-products-list-6, .feature-products-list-7, .feature-products-list-8, .feature-products-list-9 {
    margin-top: 16px;
  }
  .feature-products-list-product-swap:nth-of-type(2) {
    display: none;
  }
  .feature-products-list-product-swap:nth-of-type(3) {
    display: block;
  }
}

.center {
  margin-top: 48.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .center {
    margin-top: 33px;
  }
}

@media (max-width: 760px) {
  .center {
    margin-top: 41px;
  }
}

.bap {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
  padding: 14.5px 38.5px 13.5px 38.5px;
  border: 1px solid #FF6A6A;
  margin-bottom: 95.5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.bap:hover {
  background-color: #F26376;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .bap {
    margin-bottom: 65px;
  }
}

.feature-products-list-item {
  width: 360px;
  height: 581px;
  background: #E5E5E5;
  position: relative;
}

.feature-products-list-item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.feature-products-image {
  width: 100%;
  height: 420px;
}

.feature-products-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feature-products-overlay-button {
  padding: 10.8px 13px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.feature-products-overlay-button-image {
  padding-right: 11px;
}

.feature-products-overlay-href {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.feature-products-list-item:hover .feature-products-overlay {
  opacity: 1;
}

.feature-products-filter-and-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0 51px 0;
}

@media (max-width: 1200px) {
  .feature-products-filter-and-sorting {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 11px 0 27px 0;
  }
}

@media (max-width: 760px) {
  .feature-products-filter-and-sorting {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 11px 0 14px 0;
  }
}

.feature-products-filter {
  width: 360px;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}

.feature-products-filter-summary {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid transparent;
  background-color: transparent;
  display: block;
  padding: 13px 16px;
}

.feature-products-filter-summary::after {
  content: url(../img/feature-products-filter.svg);
  padding-left: 11px;
}

.feature-products-filter::-webkit-details-marker {
  display: none;
}

.feature-products-filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.feature-products-filter[open] > .feature-products-filter-summary {
  color: #EF5B70;
  outline: none;
  border: none;
}

.feature-products-filter[open] > .feature-products-filter-summary::after {
  content: url(../img/feature-products-filter-open.svg);
}

.feature-products-filter-content {
  position: absolute;
  background-color: #FFFFFF;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 15px 15px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 15px 15px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

.feature-products-filter-category {
  padding: 0 17px;
  margin-bottom: 16px;
}

.feature-products-filter-category[open] > .feature-products-filter-category-summary {
  color: #EF5B70;
  outline: none;
}

.feature-products-filter-category-summary {
  height: 37px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
}

.feature-products-filter-category-summary-ul {
  list-style: none;
  padding: 24.5px 17px 13px 17px;
}

.feature-products-filter-category-summary-ul-li {
  margin-bottom: 11px;
}

.feature-products-filter-margin-bottom {
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .feature-products-filter-summary {
    padding-left: 0;
  }
  .feature-products-filter-category {
    padding-left: 0;
  }
}

@media (max-width: 760px) {
  .feature-products-filter-summary-span {
    display: none;
  }
  .feature-products-filter-summary::after {
    content: url(../img/feature-products-filter-mobile.svg);
    padding-left: 0;
  }
  .feature-products-filter[open] > .feature-products-filter-summary::after {
    content: url(../img/feature-products-filter-mobile-open.svg);
  }
}

.feature-products-sorting {
  width: 360px;
  margin-left: 29px;
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-products-sorting-trending-now {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 157px;
}

.feature-products-sorting-trending-now-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.feature-products-sorting-trending-now-name::-webkit-details-marker {
  display: none;
}

.feature-products-sorting-trending-now-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.feature-products-sorting-trending-now-box {
  position: absolute;
  z-index: 2;
  width: 157px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.feature-products-sorting-trending-now-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-products-sorting-trending-now-box-label-padding-bottom {
  padding-bottom: 10px;
}

.feature-products-sorting-trending-now-box-checkbox {
  margin-right: 9.5px;
}

.feature-products-sorting-size {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 79px;
}

.feature-products-sorting-size-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.feature-products-sorting-size-name::-webkit-details-marker {
  display: none;
}

.feature-products-sorting-size-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.feature-products-sorting-size-box {
  position: absolute;
  z-index: 2;
  width: 79px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.feature-products-sorting-size-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-products-sorting-size-box-label-padding-bottom {
  padding-bottom: 10px;
}

.feature-products-sorting-size-box-checkbox {
  margin-right: 9.5px;
}

.feature-products-sorting-price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 89px;
}

.feature-products-sorting-price-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.feature-products-sorting-price-name::-webkit-details-marker {
  display: none;
}

.feature-products-sorting-price-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.feature-products-sorting-price-box {
  position: absolute;
  z-index: 2;
  width: 89px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.feature-products-sorting-price-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-products-sorting-price-box-label-padding-bottom {
  padding-bottom: 10px;
}

.feature-products-sorting-price-box-checkbox {
  margin-right: 9.5px;
}

.feature-products-sorting-margin-right {
  margin-right: 7px;
}

@media (max-width: 1200px) {
  .feature-products-sorting {
    width: 339px;
    margin-left: 0;
  }
  .feature-products-sorting-trending-now-name {
    padding-left: 0;
    text-align: right;
  }
  .feature-products-sorting-size-name {
    padding-left: 0;
    text-align: right;
  }
  .feature-products-sorting-price-name {
    padding-left: 0;
    text-align: right;
  }
}

@media (max-width: 760px) {
  .feature-products-sorting-trending-now {
    width: 130px;
  }
  .feature-products-sorting-trending-now-box {
    width: 130px;
  }
  .feature-products-sorting-trending-now-name {
    font-size: 12px;
    line-height: 14px;
  }
  .feature-products-sorting-size {
    width: 59px;
  }
  .feature-products-sorting-size-box {
    width: 59px;
  }
  .feature-products-sorting-size-name {
    font-size: 12px;
    line-height: 14px;
  }
  .feature-products-sorting-price {
    width: 72px;
  }
  .feature-products-sorting-price-box {
    width: 72px;
  }
  .feature-products-sorting-price-name {
    font-size: 12px;
    line-height: 14px;
  }
}

.feature-products-pagination {
  padding-top: 48.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-products-pagination-border {
  border: 1px solid #dbdbdb;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95.5px;
}

@media (max-width: 1200px) {
  .feature-products-pagination {
    padding-top: 40.5px;
  }
  .feature-products-pagination-border {
    margin-bottom: 63.5px;
  }
}

.pagination-href {
  color: #c9c9c9;
  float: left;
  padding: 13px 12px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pagination-href:hover:not(.active) {
  background-color: #ddd;
}

.pagination-href-margin1 {
  padding-right: 0;
}

.pagination-href-margin2 {
  padding-left: 0;
}

.href-1 {
  color: #EF5B70 !important;
}

.bottom-card {
  margin: 25px 18px auto 18px;
}

.footer-card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer-card-description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 12.5px;
  padding-bottom: 18px;
}

.footer-card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.advantages {
  background: #222224;
  border: 1px solid transparent;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 103px auto;
}

.advantages-item {
  width: 360px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.advantages-item:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.advantages-image-delivery {
  width: 45px;
  height: 32px;
}

.advantages-image-sales {
  width: 40px;
  height: 40px;
}

.advantages-image-quality {
  width: 47px;
  height: 35px;
}

.advantages-benefits {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 19px auto 16px auto;
}

.advantages-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

@media (max-width: 1200px) {
  .advantages-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px auto 64px auto;
  }
  .advantages-item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .advantages-item-margin-top {
    margin-top: 48.5px;
  }
}

@media (max-width: 760px) {
  .advantages-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px auto 81px auto;
  }
  .advantages-item {
    width: 348px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .advantages-item-margin-top {
    margin-top: 47px;
  }
}

.feedback {
  background-color: #eee;
  background-image: url(../img/feedback-background.png);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-item {
  width: 359.5px;
  border: 1px solid transparent;
  text-align: center;
}

.feedback-subscription-4 {
  font-style: normal;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.feedback-subscription-5 {
  font-style: normal;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
}

.feedback-form {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.feedback-form-email {
  padding: 20px;
  width: 255px;
  border-radius: 27px 0px 0px 27px;
  border: none;
  background-color: #E1E1E1;
  color: #222224;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.feedback-form-email::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-form-email:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-form-email::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-form-email::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-form-email:hover {
  background-color: #E9E9E9;
}

.feedback-form-submit {
  padding: 20px;
  border-radius: 0px 27px 27px 0px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.feedback-form-submit:hover {
  background-color: #c34455;
}

.feedback-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin: 30px auto;
}

@media (max-width: 1200px) {
  .feedback {
    background-image: url(../img/feedback-background-tabblet.png);
    min-height: 614px;
    padding: 55px 0 140px 0;
  }
  .feedback-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback-item-margin-top {
    margin-top: 48px;
  }
  .feedback-form {
    margin-top: 27px;
  }
}

@media (max-width: 760px) {
  .feedback {
    background-image: url(../img/feedback-background-mobile.png);
    min-height: 550px;
    padding: 54px 0 110px 0;
  }
  .feedback-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback-item-margin-top {
    margin-top: 59px;
  }
  .feedback-form {
    width: 341px;
    margin-top: 22px;
    margin-left: 8.5px;
  }
  .feedback-subscription-4 {
    line-height: 162%;
  }
  .feedback-subscription-5 {
    line-height: 162%;
  }
  .feedback-text {
    margin: 7px auto;
  }
}

.footer {
  background: #222224;
  padding: 24px 0;
  color: #fff;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.facebook-link {
  text-decoration: none;
}

.facebook-link:hover {
  content: url(../img/facebook-hover-mouse.svg);
}

.instagram-link, .polkadot-link, .twitter-link {
  text-decoration: none;
  margin-left: 7px;
}

.instagram-link:hover {
  content: url(../img/instagram-hover-mouse.svg);
}

.polkadot-link:hover {
  content: url(../img/polkadot-hover-mouse.svg);
}

.twitter-link:hover {
  content: url(../img/twitter-hover-mouse.svg);
}

@media (max-width: 760px) {
  .footer {
    padding: 0 0;
  }
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-col-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 9px;
  }
  .footer-col-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 43px;
    margin-bottom: 40px;
  }
}

.new-arrivals {
  background: #F8F3F4;
}

.new-arrivals-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-arrivals-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0;
}

.new-arrivals-href {
  text-decoration: none;
  display: inline;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.new-arrivals-href-2 {
  text-decoration: none;
  font-weight: bold;
  color: #F16D7F;
}

@media (max-width: 760px) {
  .new-arrivals-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-arrivals-heading {
    padding: 24px 0 32px 0;
  }
  .new-arrivals-heading-padding {
    padding: 50px 0 69px 0;
  }
  .new-arrivals .block-new-arrivals-href {
    margin-bottom: 46px;
  }
}

.slider {
  background-color: #F7F7F7;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
  border-bottom: 1px solid #EAEAEA;
}

.slider-box {
  margin-top: 11px;
}

.slider-img {
  border: none;
}

.slider-btn {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider-btn:hover {
  color: pink;
  border-color: pink;
  background-color: lightgray;
}

.slider-btn:active {
  background-color: #000;
}

.slider-btn-left {
  left: 5px;
}

.slider-btn-left-img:hover {
  content: url(../img/slider-btn-left-pink.svg);
}

.slider-btn-right {
  right: 5px;
}

.slider-btn-right-img:hover {
  content: url(../img/slider-btn-right-pink.svg);
}

@media (max-width: 1200px) {
  .slider {
    padding-bottom: 29px;
  }
  .slider-box {
    margin-top: 29px;
  }
  .slider-img {
    width: 466px;
    height: 565px;
  }
}

@media (max-width: 760px) {
  .slider {
    padding-bottom: 85px;
  }
  .slider-box {
    margin-top: 85px;
  }
  .slider-img {
    width: 100%;
    height: 454px;
  }
}

.about-wrap {
  margin-top: -64px;
  text-align: center;
}

.about-container {
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}

.about-top {
  width: 555px;
  margin: 0 auto;
}

.about-top-paragraph-women-collection {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 65.5px;
}

.about-top-paragraph-women-collection-span {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #EF5B70;
  width: 63px;
  padding-top: 12px;
}

.about-top-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
}

.about-top-paragraph-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  padding: 48.5px 0 32px 0;
}

.about-top-heading-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.about-hr {
  margin: 0 auto;
  width: 641px;
  height: 1px;
  border: 0;
  background-color: #EAEAEA;
  margin: 65px auto;
}

.about-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-bottom-sorting {
  width: 428px;
  padding-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.about-bottom-sorting-choose-color {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 154px;
}

.about-bottom-sorting-choose-color-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.about-bottom-sorting-choose-color-name::-webkit-details-marker {
  display: none;
}

.about-bottom-sorting-choose-color-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.about-bottom-sorting-choose-color-box {
  position: absolute;
  z-index: 2;
  width: 154px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.about-bottom-sorting-choose-color-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-bottom-sorting-choose-color-box-label-padding-bottom {
  padding-bottom: 10px;
}

.about-bottom-sorting-choose-color-box-checkbox {
  margin-right: 9.5px;
}

.about-bottom-sorting-choose-size {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 135px;
}

.about-bottom-sorting-choose-size-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.about-bottom-sorting-choose-size-name::-webkit-details-marker {
  display: none;
}

.about-bottom-sorting-choose-size-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.about-bottom-sorting-choose-size-box {
  position: absolute;
  z-index: 2;
  width: 135px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.about-bottom-sorting-choose-size-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-bottom-sorting-choose-size-box-label-padding-bottom {
  padding-bottom: 10px;
}

.about-bottom-sorting-choose-size-box-checkbox {
  margin-right: 9.5px;
}

.about-bottom-sorting-quantity {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: 1px solid transparent;
  background-color: transparent;
  width: 117px;
}

.about-bottom-sorting-quantity-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-left: 9px;
  color: #6F6E6E;
  outline: none;
  border: none;
  text-align: left;
}

.about-bottom-sorting-quantity-name::-webkit-details-marker {
  display: none;
}

.about-bottom-sorting-quantity-name::after {
  content: url(../img/feature-products-sorting.svg);
  padding-left: 10px;
}

.about-bottom-sorting-quantity-box {
  position: absolute;
  z-index: 2;
  width: 117px;
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 9px 9.5px 12px 9.5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.about-bottom-sorting-quantity-box-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-bottom-sorting-quantity-box-label-padding-bottom {
  padding-bottom: 10px;
}

.about-bottom-sorting-quantity-box-checkbox {
  margin-right: 9.5px;
}

.about-bottom-sorting-margin-right {
  margin-right: 7px;
}

.about-bottom-button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14.5px 23.5px;
  margin: 0 auto 65.5px auto;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-bottom-button-basket {
  padding-right: 23px;
}

.about-bottom-button-hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-bottom-button-hover:hover {
  color: #ffffff;
  background-color: #F26376;
}

.about-bottom-button-hover:hover .about-bottom-button-hover-basket {
  content: url(../img/about-bottom-button-basket-hover.svg);
}

@media (max-width: 1200px) {
  .about-wrap {
    margin-top: 0;
  }
  .about-container {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #EAEAEA;
    border-left: none;
  }
}

@media (max-width: 760px) {
  .about-top {
    width: 326px;
  }
  .about-top-paragraph-text {
    padding: 32px 0 32px 0;
  }
  .about-hr {
    width: 174.5px;
    margin: 32px auto 49.5px auto;
  }
  .about-bottom-sorting {
    width: 294px;
    padding-bottom: 64.5px;
  }
  .about-bottom-sorting-margin-right:nth-of-type(1) {
    width: 101px;
  }
  .about-bottom-sorting-margin-right:nth-of-type(2) {
    width: 96px;
  }
  .about-bottom-sorting-margin-right:nth-of-type(3) {
    width: 83px;
    margin-right: 0;
  }
  .about-bottom-sorting-choose-color-name {
    font-size: 10px;
    line-height: 12px;
    padding-left: 0;
    text-align: right;
  }
  .about-bottom-sorting-choose-color-box {
    width: 101px;
  }
  .about-bottom-sorting-choose-size-name {
    font-size: 10px;
    line-height: 12px;
    padding-left: 0;
    text-align: right;
  }
  .about-bottom-sorting-choose-size-box {
    width: 96px;
  }
  .about-bottom-sorting-quantity-name {
    font-size: 10px;
    line-height: 12px;
    padding-left: 0;
    text-align: right;
  }
  .about-bottom-sorting-quantity-box {
    width: 83px;
  }
}

.feature-products-padding-top {
  padding-top: 128px;
}

.feature-products-padding-bottom {
  padding-bottom: 128px;
}

@media (max-width: 760px) {
  .feature-products-padding-top {
    padding-top: 64px;
  }
  .feature-products-padding-bottom {
    padding-bottom: 64px;
  }
}

.shopping-cart-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart-goods {
  margin: 96px 0 128px 0;
}

.shopping-cart-goods-card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 6px 15px 15px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 15px 15px rgba(0, 0, 0, 0.21);
  position: relative;
}

.shopping-cart-goods-card-product-img {
  border: transparent;
}

.shopping-cart-goods-card-product-information {
  margin: 22px 97px 62px 31px;
  width: 262px;
}

.shopping-cart-goods-card-product-information-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

.shopping-cart-goods-card-product-information-price {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart-goods-card-product-information-price-span {
  color: #EF5B70;
}

.shopping-cart-goods-card-product-information-color {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart-goods-card-product-information-size {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart-goods-card-product-information-padding-bottom {
  padding-bottom: 6px;
}

.shopping-cart-goods-card-product-information-form-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart-goods-card-product-information-form-paragraph-number {
  width: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin-left: 24.5px;
  padding-left: 15px;
  border: 1px solid #EAEAEA;
}

.shopping-cart-goods-card-product-information-form-paragraph-number::-webkit-outer-spin-button, .shopping-cart-goods-card-product-information-form-paragraph-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping-cart-goods-card-product-button {
  position: absolute;
  padding: 10px;
  background-color: transparent;
  top: 17px;
  right: 11px;
  border: transparent;
}

.shopping-cart-goods-card-product-button:hover .shopping-cart-goods-card-product-button-img {
  content: url(../img/close-card-hover.svg);
}

.shopping-cart-goods-margin-bottom {
  margin-bottom: 40px;
}

.shopping-cart-goods-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.shopping-cart-goods-container-clear {
  display: inline-block;
  padding: 17px 40px;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping-cart-goods-container-clear:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.shopping-cart-goods-container-continue {
  display: inline-block;
  padding: 17px 40px;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping-cart-goods-container-continue:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.shopping-cart-shipping-address {
  width: 360px;
  margin-top: 113px;
}

.shopping-cart-shipping-address-form-fieldset {
  border: none;
}

.shopping-cart-shipping-address-form-fieldset-legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping-cart-shipping-address-form-fieldset-text {
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 16.5px 0 16.5px;
}

.shopping-cart-shipping-address-form-fieldset-text::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopping-cart-shipping-address-form-fieldset-text:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopping-cart-shipping-address-form-fieldset-text::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopping-cart-shipping-address-form-fieldset-text::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopping-cart-shipping-address-form-fieldset-margin-bottom {
  margin-bottom: 20px;
}

.shopping-cart-shipping-address-form-submit {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping-cart-shipping-address-form-submit:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.shopping-cart-shipping-address-registration {
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 57.5px;
}

.shopping-cart-shipping-address-registration-paragraph-sub-total {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  padding: 39px 34px 12px 0;
}

.shopping-cart-shipping-address-registration-paragraph-sub-total-900 {
  padding-left: 25.5px;
}

.shopping-cart-shipping-address-registration-paragraph-grand-total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  padding: 0 37px 21px 0;
}

.shopping-cart-shipping-address-registration-paragraph-grand-total-900 {
  font-weight: bold;
  color: #F16D7F;
  padding-left: 25.5px;
}

.shopping-cart-shipping-address-registration-hr {
  background-color: #E2E2E2;
  height: 1px;
  border: 0;
  width: 275px;
  margin-bottom: 17px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shopping-cart-shipping-address-registration-a {
  padding: 15px 40px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 42px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopping-cart-shipping-address-registration-a:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
}

@media (max-width: 1200px) {
  .shopping-cart-wrap {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping-cart-goods {
    margin: 59px 0 64.5px 0;
  }
  .shopping-cart-goods-card-product-information {
    margin-right: 179px;
  }
  .shopping-cart-goods-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 49px;
    margin-top: 62px;
  }
  .shopping-cart-shipping-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 128px;
  }
  .shopping-cart-shipping-address-form {
    width: 359px;
  }
  .shopping-cart-shipping-address-registration {
    width: 360px;
    height: 214px;
    margin-top: 39px;
  }
}

@media (max-width: 760px) {
  .shopping-cart-goods {
    margin: 39px 0 48.5px 0;
  }
  .shopping-cart-goods-card-product {
    margin-bottom: 32px;
    -webkit-box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
            box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  }
  .shopping-cart-goods-card-product-img {
    border: transparent;
    width: 144px;
    height: 200.5px;
  }
  .shopping-cart-goods-card-product-information {
    margin: 13.5px 53px 38px 17px;
    width: 144px;
  }
  .shopping-cart-goods-card-product-information-heading {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 26px;
  }
  .shopping-cart-goods-card-product-information-price {
    font-size: 14px;
    line-height: 17px;
  }
  .shopping-cart-goods-card-product-information-color {
    font-size: 14px;
    line-height: 17px;
  }
  .shopping-cart-goods-card-product-information-size {
    font-size: 14px;
    line-height: 17px;
  }
  .shopping-cart-goods-card-product-information-form-paragraph {
    font-size: 14px;
    line-height: 17px;
  }
  .shopping-cart-goods-card-product-information-form-paragraph-number {
    font-size: 10px;
    line-height: 12px;
    width: 23.5px;
    margin-left: 15px;
    padding-left: 7.5px;
  }
  .shopping-cart-goods-card-product-button {
    padding: 5px;
    top: 8px;
    right: 9px;
  }
  .shopping-cart-goods-card-product-button-img {
    width: 10px;
    height: 11px;
  }
  .shopping-cart-goods-container {
    grid-column-gap: 9px;
    margin-top: 30.5px;
  }
  .shopping-cart-goods-container-clear {
    padding: 9.5px 36px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: none;
  }
  .shopping-cart-goods-container-continue {
    padding: 9.5px 36px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: none;
  }
  .shopping-cart-shipping-address {
    display: block;
    margin-bottom: 96px;
  }
  .shopping-cart-shipping-address-form {
    width: 100%;
  }
  .shopping-cart-shipping-address-form-submit {
    text-transform: none;
  }
  .shopping-cart-shipping-address-registration {
    margin-top: 48.5px;
    width: 100%;
  }
}

.registration-block {
  background: #FFFFFF;
}

.registration-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid transparent;
  margin: 64px auto 96px auto;
}

.registration-block-form {
  width: 360px;
  background: #FFFFFF;
}

.registration-block-form-fieldset {
  border: none;
}

.registration-block-form-fieldset-legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-block-form-fieldset-text {
  border: 1px solid #A4A4A4;
  padding: 17px;
  width: 100%;
  height: 45px;
}

@-webkit-keyframes change-color {
  0% {
    -webkit-box-shadow: 0 0 5px #FF0000;
            box-shadow: 0 0 5px #FF0000;
  }
  7% {
    -webkit-box-shadow: 0 0 5px #FF8000;
            box-shadow: 0 0 5px #FF8000;
  }
  14% {
    -webkit-box-shadow: 0 0 5px #FFFF00;
            box-shadow: 0 0 5px #FFFF00;
  }
  21% {
    -webkit-box-shadow: 0 0 5px #80FF00;
            box-shadow: 0 0 5px #80FF00;
  }
  28% {
    -webkit-box-shadow: 0 0 5px #00FF00;
            box-shadow: 0 0 5px #00FF00;
  }
  35% {
    -webkit-box-shadow: 0 0 5px #00FF80;
            box-shadow: 0 0 5px #00FF80;
  }
  42% {
    -webkit-box-shadow: 0 0 5px #00FFFF;
            box-shadow: 0 0 5px #00FFFF;
  }
  49% {
    -webkit-box-shadow: 0 0 5px #0080FF;
            box-shadow: 0 0 5px #0080FF;
  }
  56% {
    -webkit-box-shadow: 0 0 5px #0000FF;
            box-shadow: 0 0 5px #0000FF;
  }
  63% {
    -webkit-box-shadow: 0 0 5px #8000FF;
            box-shadow: 0 0 5px #8000FF;
  }
  70% {
    -webkit-box-shadow: 0 0 5px #FF00FF;
            box-shadow: 0 0 5px #FF00FF;
  }
  77% {
    -webkit-box-shadow: 0 0 5px #FF0080;
            box-shadow: 0 0 5px #FF0080;
  }
  84% {
    -webkit-box-shadow: 0 0 5px #B2D732;
            box-shadow: 0 0 5px #B2D732;
  }
  91% {
    -webkit-box-shadow: 0 0 5px #66B032;
            box-shadow: 0 0 5px #66B032;
  }
}

@keyframes change-color {
  0% {
    -webkit-box-shadow: 0 0 5px #FF0000;
            box-shadow: 0 0 5px #FF0000;
  }
  7% {
    -webkit-box-shadow: 0 0 5px #FF8000;
            box-shadow: 0 0 5px #FF8000;
  }
  14% {
    -webkit-box-shadow: 0 0 5px #FFFF00;
            box-shadow: 0 0 5px #FFFF00;
  }
  21% {
    -webkit-box-shadow: 0 0 5px #80FF00;
            box-shadow: 0 0 5px #80FF00;
  }
  28% {
    -webkit-box-shadow: 0 0 5px #00FF00;
            box-shadow: 0 0 5px #00FF00;
  }
  35% {
    -webkit-box-shadow: 0 0 5px #00FF80;
            box-shadow: 0 0 5px #00FF80;
  }
  42% {
    -webkit-box-shadow: 0 0 5px #00FFFF;
            box-shadow: 0 0 5px #00FFFF;
  }
  49% {
    -webkit-box-shadow: 0 0 5px #0080FF;
            box-shadow: 0 0 5px #0080FF;
  }
  56% {
    -webkit-box-shadow: 0 0 5px #0000FF;
            box-shadow: 0 0 5px #0000FF;
  }
  63% {
    -webkit-box-shadow: 0 0 5px #8000FF;
            box-shadow: 0 0 5px #8000FF;
  }
  70% {
    -webkit-box-shadow: 0 0 5px #FF00FF;
            box-shadow: 0 0 5px #FF00FF;
  }
  77% {
    -webkit-box-shadow: 0 0 5px #FF0080;
            box-shadow: 0 0 5px #FF0080;
  }
  84% {
    -webkit-box-shadow: 0 0 5px #B2D732;
            box-shadow: 0 0 5px #B2D732;
  }
  91% {
    -webkit-box-shadow: 0 0 5px #66B032;
            box-shadow: 0 0 5px #66B032;
  }
}

.registration-block-form-fieldset-text:hover {
  -webkit-animation: change-color 10s infinite;
          animation: change-color 10s infinite;
}

.registration-block-form-fieldset-text::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-block-form-fieldset-text:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-block-form-fieldset-text::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-block-form-fieldset-text::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-block-form-fieldset-text-margin-top {
  margin-top: 20px;
}

.registration-block-form-fieldset-container {
  padding: 31px 0 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-block-form-fieldset-container-label {
  padding-right: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-block-form-fieldset-container-label:nth-of-type(3) {
  display: none;
}

.registration-block-form-fieldset-container-label input {
  margin-right: 10px;
}

.registration-block-form-fieldset-paragraph {
  margin: 15px auto 39px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-block-form-button {
  background-color: #F16D7F;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 29px 16px 29px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.registration-block-form-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.registration-block-form-button-img {
  padding-left: 20px;
}

.registration-block-info {
  max-width: 652px;
}

.registration-block-info-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration-block-info-paragraph {
  padding: 22px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration-block-info-list-number {
  list-style: none;
  background: url(../img/registration-block-info-list-check-mark.svg) no-repeat 0 6.5px;
  padding-left: 43px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1200px) {
  .registration-block-wrap {
    margin-top: 40px;
  }
  .registration-block-form-fieldset-container-label:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration-block-info {
    max-width: 354px;
  }
  .registration-block-info-heading {
    font-size: 16px;
    line-height: 19px;
  }
  .registration-block-info-paragraph {
    font-size: 16px;
    line-height: 19px;
    padding: 32px 0 22px 0;
  }
  .registration-block-info-list-number {
    background-position: 0 2.5px;
    font-size: 16px;
    line-height: 19px;
  }
  .registration-block-info-list-number:nth-of-type(1), .registration-block-info-list-number:nth-of-type(3), .registration-block-info-list-number:nth-of-type(4) {
    padding-bottom: 26px;
  }
}

@media (max-width: 760px) {
  .registration-block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .registration-block-form {
    width: 100%;
    margin-bottom: 40px;
  }
  .registration-block-info {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */