// feature-products
.feature-products {
    background-color: $color-6;
    &-heading {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $color-1;
        text-align: center;
        margin-bottom: 6px;
    }
    &-paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-8;
        text-align: center;
        margin-bottom: 48px;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        z-index: 1;
    }
    &-list-4, &-list-5, &-list-6, &-list-7, &-list-8, &-list-9 {
        margin-top: $feature-products-list-margin-top;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .feature-products {
        &-paragraph {
            margin-bottom: 72.5px;
        }
        &-list-3, &-list-4, &-list-5, &-list-6, &-list-7, &-list-8, &-list-9 {
            margin-top: $feature-products-list-margin-top-media-tabblet;
        }
        &-list-none {
            display: none;
        }
        &-list-product-swap:nth-of-type(1) {
            order: 2;
        }
        &-list-product-swap:nth-of-type(2) {
            order: 1;
        }
        &-list-product-swap:nth-of-type(3) {
            order: 3;
            display: none;
        }
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feature-products {
        &-paragraph {
            margin-bottom: 64.5px;
        }
        &-list-2, &-list-3, &-list-4, &-list-5, &-list-6, &-list-7, &-list-8, &-list-9 {
            margin-top: $feature-products-list-margin-top-media-mobile;
        }
        &-list-product-swap:nth-of-type(2) {
            display: none;
        }
        &-list-product-swap:nth-of-type(3) {
            display: block;
        }
    }
}
.center {
    margin-top: 48.5px;
    display: flex;
    justify-content: center;
}
// Планшетная версия
@media (max-width: 1200px) {
    .center {
        margin-top: 33px;
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .center {
        margin-top: 41px;
    }
}
.bap {
    @include categories-sale__footer-text ();
    color: $color-5;
    text-decoration: none;
    padding: 14.5px 38.5px 13.5px 38.5px;
    border: 1px solid $color-13;
    margin-bottom: 95.5px;
    transition: 0.2s;
    &:hover {
        background-color: $color-14;
        color: $color-7;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .bap {
        margin-bottom: 65px;
    }
}
// .feature-products-wrap {
    
// } 
.feature-products-list-item {
    width: 360px;
    height: 581px;
    background: $color-9;
    position: relative;
    &:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    }
}

.feature-products-image {
    width: 100%;
    height: 420px;
}
.feature-products-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: $color-10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    &-button {
        padding: 10.8px 13px;
        border: 1px solid $color-7;
        background-color: $color-3;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-7;
        &-image {
            padding-right: 11px;
        }
    }
    &-href {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
.feature-products-list-item:hover .feature-products-overlay {
    opacity: 1;
}
// Передалать ОТ СЮДА
.feature-products-filter-and-sorting {
    display: flex;
    padding: 38px 0 51px 0;
}
// Планшетная версия
@media (max-width: 1200px) {
    .feature-products-filter-and-sorting {
        justify-content: space-between;
        padding: 11px 0 27px 0;
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feature-products-filter-and-sorting {
        justify-content: space-between;
        padding: 11px 0 14px 0;
    }
}
.feature-products-filter {
    width: 360px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
    outline: none;
    border: none;
    &-summary {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $color-11;
        border: 1px solid $color-3;
        background-color: $color-3;
        display: block;
        padding: 13px 16px;
        &::after {
            content: url(../img/feature-products-filter.svg);
            padding-left: 11px;
        }
    }
    &::-webkit-details-marker {display: none;}
    &[open] {
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] > &-summary {
        color: #EF5B70;
        outline: none;
        border: none;
        &::after {
            content: url(../img/feature-products-filter-open.svg);
        }
    }
    &-content {
        position: absolute;
        background-color: #FFFFFF;
        width: 360px;
        left: 0;
        box-shadow: 6px 15px 15px rgba(0, 0, 0, 0.21);
        z-index: 2;
    }
    &-category {
        padding: 0 17px;
        margin-bottom: 16px;
        &[open] > &-summary {
            color: #EF5B70;
            outline: none;
        }
        &-summary{
            height: 37px;
            border-left: 5px solid #EF5B70;
            border-bottom: 1px solid #EBEBEB;
            display: flex;
            align-items: center;
            padding-left: 11px;
            &-ul {
                list-style: none;
                padding: 24.5px 17px 13px 17px;
                &-li {
                    margin-bottom: 11px;
                }
            }
        }
    }
    &-margin-bottom {
        margin-bottom: 16px;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .feature-products-filter {
        &-summary {
            padding-left: 0;
        }
        &-category {
            padding-left: 0;
        }
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feature-products-filter {
        &-summary {
            &-span {
                display: none;
            }
            &::after {
                content: url(../img/feature-products-filter-mobile.svg);
                padding-left: 0;
            }
        }
        &[open] > &-summary {
            &::after {
                content: url(../img/feature-products-filter-mobile-open.svg);
            }
        }
    }
}
.feature-products-sorting {
    width: 360px;
    margin-left: 29px;
    padding: 13px 0;
    display: flex;
    &-trending-now {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-23;
        border: 1px solid $color-3;
        background-color: $color-3;
        width: 157px;
        &-name {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: block;
            padding-left: 9px;
            color: #6F6E6E;
            outline: none;
            border: none;
            text-align: left;
            &::-webkit-details-marker {
                display: none;
              }
            &::after {
                content: url(../img/feature-products-sorting.svg);
                padding-left: 10px;
            }
        }
        &-box {
            position: absolute;
            z-index: 2;
            width: 157px;
            margin-top: 5px;
            background-color: #FFFFFF;
            padding: 9px 9.5px 12px 9.5px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            &-label {
                display: flex;
                align-items: center;
                &-padding-bottom {
                    padding-bottom: 10px;
                }
            }
            &-checkbox {
                margin-right: 9.5px;
            }
        }
    }
    &-size {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-23;
        border: 1px solid $color-3;
        background-color: $color-3;
        width: 79px;
        &-name {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: block;
            padding-left: 9px;
            color: #6F6E6E;
            outline: none;
            border: none;
            text-align: left;
            &::-webkit-details-marker {
                display: none;
              }
            &::after {
                content: url(../img/feature-products-sorting.svg);
                padding-left: 10px;
            }
        }
        &-box {
            position: absolute;
            z-index: 2;
            width: 79px;
            margin-top: 5px;
            background-color: #FFFFFF;
            padding: 9px 9.5px 12px 9.5px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            &-label {
                display: flex;
                align-items: center;
                &-padding-bottom {
                    padding-bottom: 10px;
                }
            }
            &-checkbox {
                margin-right: 9.5px;
            }
        }
    }
    &-price {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $color-23;
        border: 1px solid $color-3;
        background-color: $color-3;
        width: 89px;
        &-name {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: block;
            padding-left: 9px;
            color: #6F6E6E;
            outline: none;
            border: none;
            text-align: left;
            &::-webkit-details-marker {
                display: none;
              }
            &::after {
                content: url(../img/feature-products-sorting.svg);
                padding-left: 10px;
            }
        }
        &-box {
            position: absolute;
            z-index: 2;
            width: 89px;
            margin-top: 5px;
            background-color: #FFFFFF;
            padding: 9px 9.5px 12px 9.5px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            &-label {
                display: flex;
                align-items: center;
                &-padding-bottom {
                    padding-bottom: 10px;
                }
            }
            &-checkbox {
                margin-right: 9.5px;
            }
        }
    }
    &-margin-right {
        margin-right: 7px;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .feature-products-sorting {
        width: 339px;
        margin-left: 0;
        &-trending-now {
            &-name {
                padding-left: 0;
                text-align: right;
            }
        }
        &-size {
            &-name {
                padding-left: 0;
                text-align: right;
            }
        }
        &-price {
            &-name {
                padding-left: 0;
                text-align: right;
            }
        }
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feature-products-sorting {
        &-trending-now {
            width: 130px;
            &-box {
                width: 130px;
            }
            &-name {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &-size {
            width: 59px;
            &-box {
                width: 59px;
            }
            &-name {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &-price {
            width: 72px;
            &-box {
                width: 72px;
            }
            &-name {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
// Переднлать ДО СЮДА
.feature-products-pagination {
    padding-top: 48.5px;
    display: flex;
    justify-content: center;
    &-border {
        border: 1px solid $color-24;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-bottom: 95.5px;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .feature-products-pagination {
        padding-top: 40.5px;
        &-border {
            margin-bottom: 63.5px;
        }
    }
}
.pagination-href {
    color: $color-25;
    float: left;
    padding: 13px 12px;
    text-decoration: none;
    transition: background-color $color-26;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    transition: 0.2s;
    &:hover:not(.active) {
        background-color: $color-28;
    }
    &-margin1 {
        padding-right: 0;
    }
    &-margin2 {
        padding-left: 0;
    }
}
.href-1 {
    color: $color-27 !important;
}
.bottom-card {
    margin: 25px 18px auto 18px;
}
.footer-card-title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $color-11;
}
.footer-card-description {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $color-12;
    padding-top: 12.5px;
    padding-bottom: 18px;
}
.footer-card-price {
    @include categories-sale__footer-text ();
    color: $color-5;
}
