.feature-products-padding {
    &-top {
        padding-top: 128px;
    }
    &-bottom {
        padding-bottom: 128px;
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feature-products-padding {
        &-top {
            padding-top: 64px;
        }
        &-bottom {
            padding-bottom: 64px;
        }
    }
}