// feedback
.feedback {
    background-color: $color-17;
    background-image: url(../img/feedback-background.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-wrap {
        @include admixture-wrap ();
    }
    &-item {
        width: 359.5px;
        border: 1px solid $color-3;
        text-align: center;
    }
    &-subscription-4 {
        font-style: normal;
        font-size: 24px;
        line-height: 167.2%;
        color: $color-15;
    }
    &-subscription-5 {
        font-style: normal;
        font-size: 18px;
        line-height: 167.2%;
        color: $color-15;
    }
    &-form {
        width: 356px;
        display: flex;
        margin-top: 32px;
        &-email {
            padding: 20px;
            width: 255px;
            border-radius: 27px 0px 0px 27px;
            border: none;
            background-color: $color-18;
            color: $color-15;
            transition: 0.2s;
            &::placeholder {
                font-size: 14px;
                line-height: 17px;
                color: $color-15;
                opacity: 0.67;
            }
            &:hover {
                background-color: $color-19;
            }
        }
        &-submit {
            padding: 20px;
            border-radius: 0px 27px 27px 0px;
            border: none;
            background-color: $color-5;
            color: $color-7;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            transition: 0.2s;
            &:hover {
                background-color: $color-20;
            }
        }
    }
    &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $color-15;
        margin: 30px auto;
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .feedback {
        background-image: url(../img/feedback-background-tabblet.png);
        min-height: 614px;
        padding: 55px 0 140px 0;
        &-wrap {
            @include admixture-wrap-tabblet ();
        }
        &-item {
            &-margin-top {
                margin-top: 48px;
            }
        }
        &-form {
            margin-top: 27px;
        }
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .feedback {
        background-image: url(../img/feedback-background-mobile.png);
        min-height: 550px;
        padding: 54px 0 110px 0;
        &-wrap {
            @include admixture-wrap-mobile ();
        }
        &-item {
            &-margin-top {
                margin-top: 59px;
            }
        }
        &-form {
            width: 341px;
            margin-top: 22px;
            margin-left: 8.5px;
        }
        &-subscription-4 {
            line-height: 162%;
        }
        &-subscription-5 {
            line-height: 162%;
        }
        &-text {
            margin: 7px auto;
        }
    }
}