// footer
.footer {
    background: $color-15;
    padding: 24px 0;
    color: $color-2;
    &-wrap {
        @include admixture-wrap ();
    }
    &-text {
        @include categories-sale__footer-text ();
        color: $color-16;
    }
}
.facebook-link {
    text-decoration: none;
    &:hover {
        content: url(../img/facebook-hover-mouse.svg);
    }
}
.instagram-link, .polkadot-link, .twitter-link {
    text-decoration: none;
    margin-left: 7px;
}

.instagram-link:hover {
    content: url(../img/instagram-hover-mouse.svg);
}
.polkadot-link:hover {
    content: url(../img/polkadot-hover-mouse.svg);
}
.twitter-link:hover {
    content: url(../img/twitter-hover-mouse.svg);
}
// Мобильная версия
@media (max-width: 760px) {
    .footer {
        padding: 0 0;
        &-wrap {
            @include admixture-wrap-mobile ();
        }
        &-col-1 {
            order: 2;
            margin-bottom: 9px;
        }
        &-col-2 {
            order: 1;
            margin-top: 43px;
            margin-bottom: 40px;
        }
    }
}
