// new-arrivals
.new-arrivals {
    background: $color-21;
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-heading {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $color-5;
        padding: 60px 0;
    }
    &-href {
        text-decoration: none;
        display: inline;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $color-22;
    }
    &-href-2 {
        text-decoration: none;
        font-weight: bold;
        color: $color-5;
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .new-arrivals {
        &-wrap {
            @include admixture-wrap-mobile ();
        }
        &-heading {
            padding: 24px 0 32px 0;
            &-padding {
                padding: 50px 0 69px 0;
            }
        }
        .block-new-arrivals-href {
            margin-bottom: 46px;
        }
    }
}
