// Оффер
.offer {
    background: $color-4;
    &-wrap {
        height: 765px;
        background-image: url(../img/promo-bg.png);
        background-repeat: no-repeat;
        background-position-x: -225px;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-title {
        font-weight: 900;
        font-size: 48px;
        line-height: 40px;
        color: $color-1;
        border-left: 12px solid $color-5;
        padding-left: 16px;
        margin-right: 90px;
        &--small {
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: $color-1;
        }
        &--pink {
            color: $color-5;
        }
    }
}
// Планшетная версия
@media (max-width: 1200px) {
    .offer {
        &-wrap {
            height: 367.5px;
            background-image: url(../img/promo-bg-tabblet.png);
            background-position-x: -17px;
        }
        &-title {
            font-size: 44px;
            line-height: 30px;
            margin-right: 18px;
            &--small {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}
// Мобильная версия
@media (max-width: 760px) {
    .offer {
        &-wrap {
            height: 363px;
            background-image: none;
            justify-content: center;
        }
        &-title {
            margin-right: 0;
            font-size: 38px;
            line-height: 25px;
            &--small {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}